@import "tailwindcss";

@theme {
  --cursor-arrow-right: url('../imgs/arrow-right.png') 16 16, pointer;
  --cursor-arrow-left: url('../imgs/arrow-left.png') 16 16, pointer;
  --cursor-play: url('../imgs/circle-play.svg') 16 16, pointer;
  --cursor-pause: url('../imgs/circle-pause.svg') 16 16, pointer;


}
